<script>
    $(document).ready(function() {
        var data = <%=@fileJSON.to_s.html_safe%>;

        console.log(data);

        var width = document.getElementById('mainContainer').offsetWidth;
        var height = 750;

        var svg = d3.select("div.graphMap").append("svg")
            .attr("width", width)
            .attr("height", height);

        var force = d3.layout.force()
            .gravity(0.05)
            .distance(100)
            .charge(-100)
            .size([width, height]);

        force
            .nodes(data.nodes)
            .links(data.links)
            .linkDistance((d) => {
              return Math.random()*400.0 + 200;
            })
            .start();

        var link = svg.selectAll(".link")
            .data(data.links)
            .enter().append("line")
            .attr("class", "link");

        var node = svg.selectAll(".node")
            .data(data.nodes)
            .enter().append("g")
            .attr("class", "node")
            .call(force.drag);

        node.append('circle')
            .attr('r',(d) => getSize(d))
            .attr("x", (d) => getOffset(d))
            .attr("y", (d) => getOffset(d))
            .attr('fill',(d) => getColorFill(d))
            .attr('stroke',(d) => getStrokeFill(d))

        function getColorFill(d) {
            switch (d.class) {
                case "USER":
                    return 'red';
                case "GENRE":
                    return 'green';
                case "COUNTRY":
                    return 'PeachPuff';
                case "ARTIST_TYPE":
                    return 'Cornsilk';
                case "ARTIST":
                    return 'transparent';
                default:
                    return 'blue';
            }
        }

        function getStrokeFill(d) {
            switch (d.class) {
                case "ARTIST":
                    return 'transparent';
                default:
                    return 'black';
            }
        }

        function getOffset(d) {
            if (d.class == "USER") {
                return -75;
            } else if (d.type != "root") {

                var rootSize = d.occurences;

                if (rootSize < 75.0) {
                    rootSize = 75.0;
                }

                if (rootSize > 200.0) {
                    rootSize = 200.0;
                }

                return -rootSize/3.0;
            }
            return -30;
        }

        function getSize(d) {
            if (d.class == "USER") {
                return 75;
            } else if (d.class != "ARTIST") {
                var rootSize = d.occurences;

                if (rootSize < 75.0) {
                    rootSize = 75.0;
                }

                if (rootSize > 200.0) {
                    rootSize = 200.0;
                }

                return rootSize/3.0;
            }
            return 30;
        }

        node.append("text")
            .attr("class","mapText")
            .attr("dx", -10)
            .attr("dy", ".35em")
            .text(function (d) {
                return d.name
            });

        force.on("tick", function () {
            link.attr("x1", function (d) {
                return d.source.x;
            })
                .attr("y1", function (d) {
                    return d.source.y;
                })
                .attr("x2", function (d) {
                    return d.target.x;
                })
                .attr("y2", function (d) {
                    return d.target.y;
                });

            node.attr("transform", function (d) {
                return "translate(" + d.x + "," + d.y + ")";
            });


        });

        function color(i) {
            switch (i) {
                case 0:
                    return "http://www.iconsdb.com/icons/download/purple/circle-512.png";
                case 1:
                    return "//www.cogenhr.com/development/wp-content/uploads/2015/03/Red-circle-			transparent-1024x1006.png";
                case 2:
                    return "//www.clker.com/cliparts/B/U/N/P/u/7/light-orange-circle-md.png";
                case 3:
                    return "//www.clker.com/cliparts/w/s/M/d/S/T/light-pink-circle-hi.png";
                case 4:
                    return "http://img.sotmarket.ru/standart/img/podarki/priyatnye-melochi/prikolnye-tablichki/tablichka-apli-zelenyj-krug-11910-0.png";
                case 5:
                    return "https://upload.wikimedia.org/wikipedia/en/thumb/f/fb/Yellow_icon.svg/1024px-Yellow_icon.svg.png";
                case 6:
                    return "http://www.clker.com/cliparts/3/v/I/F/6/V/light-blue-circle-md.png";
                case 7:
                    return "https://upload.wikimedia.org/wikipedia/commons/8/8e/Pan_Blue_Circle.png";
                case 8:
                    return "http://www.clipartkid.com/images/19/black-circle-clip-art-png-and-svg-GmosNX-clipart.png";
                case 9:
                    return "http://www.stickylife.com/images/u/7f632dbf5ba548c9bebc18162e9e4d4c-800.png";
                case 10:
                    return "http://www.clipartkid.com/images/405/orange-circle-clipart-orange-ball-image-vector-wZ3qUV-clipart.png";

            }
        }

        var piChartColors = d3.scale.category20();

        function makePieChartForData(containerName,dataSet) {
            var width = document.getElementById('mainContainer').offsetWidth/4.0;
            var height = 200;
            var radius = 100;

            var svg = d3.select(containerName).append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

            var arc = d3.svg.arc()
                .outerRadius(radius)
                .innerRadius(30);

            var pie = d3.layout.pie()
                .sort(null)
                .value(function(d){ return d.value; });

            var g = svg.selectAll(".fan")
                .data(pie(dataSet))
                .enter()
                .append("g")
                .attr("class", "fan")

            g.append("path")
                .attr("d", arc)
                .attr("fill", function(d){return piChartColors((d.value*3)%20);})

            g.append("text")
                .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
                .style("text-anchor", "middle")
                .text(function(d) { return d.data.legend; });
        }
        var pieGenreData = <%=@genrePieChart.to_s.html_safe%>
        makePieChartForData('.musicGenre',pieGenreData.data);

        var pieTypeData = <%=@artistTypePieChart.to_s.html_safe%>
            makePieChartForData('.artistType',pieTypeData.data);

        var pieCountryData = <%=@countryPieChart.to_s.html_safe%>
            makePieChartForData('.artistOrigin',pieCountryData.data);
    });
</script>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="logo-style logo-header"><img class="logo" src="/assets/4telogo.png"></a>
    </div>
  </nav>
</div>

<div class="container" id="mainContainer">
  <div class="row">
    <div class="col m12">
      <div class="cardTopList">
        <h1 class="center-align">My Music Preferences</h1>
        <div class="graphMap"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <div class="cardVerticalList">
        <h1 class="center-align">Top Music Genres</h1>
        <div class="pieChart musicGenre"></div>
        <p class="topList">
        <ol>
          <% for i in 1..10 %>
              <li><%= @genres.keys[i]%></li><br>
          <% end %>
        </ol>
        </p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="cardVerticalList">
        <h1 class="center-align">Top Artist Types</h1>
        <div class="pieChart artistType"></div>
        <p class="topList">
        <ol>
          <% @artist_type.each do |at| %>
              <li><%= at[0]%></li><br>
          <% end %>
        </ol>
        </p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="cardVerticalList">
        <h1 class="center-align">Top Artist Origins</h1>
        <div class="pieChart artistOrigin"></div>
        <p class="topList">
        <ol>
          <% for i in 1..10 %>
              <li><%= @countries.keys[i]%></li><br>
          <% end %>
        </ol>
        </p>
      </div>
    </div>
  </div>
</div>